//// This should be styled to support mobile, tablet, and desktop views 

html, body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5vh;
}


p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    text-align: center;
    margin: 2vh;
    text-overflow: ellipsis;
}

#viewPortDiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}


#borderDiv {
    border: 2px solid grey;
    border-radius: 12px;
    max-width: 80vw;
    max-height: 80vh;
    height: fit-content;
    display: flex;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    padding: 5vw;
    
}


.wrapDiv {
    display: flex;
    flex-direction: coloum;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    width: fit-content;
}


#hangmanImg {
    /* background-image: url("./assets/img/h-8.jpg"); */
    max-height: 50%;
    max-width: 50%;
    
}


button {
    font-family: 'Courier New', Courier, monospace;
}